asyncio
pathlib
git-lfs

torch==2.3.0
torchvision
torchaudio
tensorboard

transformers
accelerate
evaluate
huggingface_hub[cli]
bitsandbytes
gradio
jiwer
librosa
ffmpeg

ipywidgets
IProgress
JupyterLab


pandas
scikit-learn
matplotlib
seaborn
plotly-express